<div class="container page-container">
  <div class="post-page card-panel z-depth-2">
    <div class="post-section">
		<h4>1.为什么严禁外传</h4>

		<p>防止网站被屏蔽</p>

		<h4>2.为什么严禁外传文章下面还有分享按钮</h4>

		</p>那些网站在国内不存在</p>

		<h4>3.百度网盘下载和Onedrive(SharePoint)有什么区别</h4>

		<table>
			<tr>
				<td>类别</td>
				<td>百度网盘</td>
				<td>Onedrive(SharePoint)</td>
			</tr>
			<tr>
				<td>保存相关</td>
				<td>可以保存到网盘</td>
				<td>无法直接保存到Onedrive</td>
			</tr>
			<tr>
				<td>下载相关</td>
				<td>需要下载客户端</td>
				<td>浏览器直接下载</td>
			</tr>
			<tr>
				<td>普通下载速度</td>
				<td>非会员仅有100-200k</td>
				<td>被运营商限制，大多数情况下只有100-200k，部分地区10m+</td>
			</tr>
			<tr>
				<td>会员下载速度</td>
				<td>会员高达10m+</td>
				<td>不需要会员</td>
			</tr>
			<tr>
				<td>多线下载速度</td>
				<td>500kb+，但是下载过多会被限制</td>
				<td>被运营商限制地区多线程约500k，不会限制</td>
			</tr>
			<tr>
				<td>迅雷下载速度</td>
				<td>不支持</td>
				<td>被运营商限制地区多线程约500k（迅雷是P2P加镜像源下载）</td>
			</tr>
		</table>

    </div>
  </div>
</div>